.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
.wrapper {
    width: 100%;
    padding: 3rem 0.8rem 0;
    background: white;
    &.wide {
        padding-left: 0;
        padding-right: 0;
    }
}
