@font-face {
    font-family: Roboto;
    src: url('../../fonts/Roboto-Regular.ttf');
    font-style: 'normal';
}
.web-appearance{
    -webkit-appearance: none;
    border-radius: 0;
}
.web-highlight{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
body {
    font-family: Roboto, Arial, Helvetica, Sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    .container {
        height: 100vh;
        padding: 0rem;
        margin: 0;
        .wrapper {
            width: 90%;
            margin: 0 auto;
            position: relative;
        }

    }
    .clearfix:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: '';
    }
    .clearfix {
        zoom: 1;
    }
    .clear {
        clear: both;
    }
    input{
        .web-appearance;
        &:focus{
            .web-highlight;
        }
    }
    button {
        .web-appearance;
    }
    p {
        &:focus{
            .web-appearance;    
        }   
    }
    div{
        &:focus{
            .web-appearance;    
        }  
    }
    .fr {
        float: right;
    }

}
// binding
.card-input {
    padding-top: 2rem;
    .contains {
        position: relative;
    }
    input{
        &.card {
            width: 100%;
            outline-style: none;
            border: none;
            border-bottom: 1px solid #9b9b9b;
            font-size: 1.3rem;
            margin: 0;
            padding: 0;
            padding-bottom: 1.5rem;
            margin-bottom: 0.7rem;
            background-color: transparent;
            font-weight: bold;
            &.error {
                border-bottom: 1px solid red;
            }
        }
        &::-webkit-input-placeholder {
            font-size: 0.85rem;
            font-weight: normal;
        }
    }
    .card_state {
        font-size: 0.9rem;
        position: absolute;
        top: 1.8rem;
        left: 0;
        &.program-state-valid {
            color: #008be9;
        }
        &.program-state {
            color: #f00;
        }
    }
    .error-card {
        color: red;
        font-size: 0.9rem;
        display: none;
        &.showError {
            display: block;
        }
    }
    .count {
        color: #9b9b9b;
        float: right;
        padding: 0;
        margin: 0;
    }
    .operate {
        position: absolute;
        width: 1.6rem;
        right: 0;
        top: 0;
        img {
            width: 100%;
        }
    }
    .history {
        padding: 0;
        margin: 0;
        width: 100%;
        position: absolute;
        background: white;
        z-index: 100;
        box-shadow: 0px 2px 2px #909090;
        padding-left: 0.3rem;
        top: 3.3rem;
        li {
            list-style: none;
            padding: 0.7rem 0;
            font-size: 1.2rem;
        }
    }
}
.demoDialog {
    width: 85%;
    margin: 1.5rem auto 0;
    font-size: 0.8rem;
    & > div {
        border-radius: 7px;
        padding: 1rem;
        background: #eeeeee;
        color: #424242;
        margin-bottom: 2rem;
        img {
            width: 95%;
            display: block;
            margin: 0 auto;
            border-radius: 7px;
        }
    }
    &  > p {
        width: 80%;
        margin: 0 auto;
    }
    .tips {
        margin-top: 1.5rem;
    }
}
.program-box {
    p {
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: #424242;
    }
    span{
        &.program-name {
            font-weight: 400;
        }
    }
}
.money-box {
    margin-top: 1rem;
    position: relative;
    & > p{
        color: #424242;
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }
    .recharge-style {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            list-style: none;
            float: left;
            border: 1px solid #bdbdbd;
            border-radius: 5%;
            display: block;
            text-align: center;
            width: 31.3%;
            margin: 0 2% 3% 0;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                padding-bottom: 100%;
                width: 0.1px;
                vertical-align: middle;
            }
            &:nth-child(3n) {
                margin: 0;
            }
            p {
                margin: 0.3rem 0;
                color: #424242;
                position: absolute;
                text-align: center;
                width: 100%;
                &:nth-child(1) {
                    top: 13%;
                }
                &:nth-child(2) {
                    top: 36%;
                }
                &:nth-child(3) {
                    top: 62%;
                }
                & + p{
                    span {
                        position: relative;
                        font-size: 0.7rem;
                        margin-right: 4px;
                    }
                }
            }
            &.center-text{
                p{
                    &:nth-child(1) {
                        top: 26%;
                    }
                    &:nth-child(2) {
                        font-weight: bold;
                        top: 50%;
                    }
                }
            }
            &.selected {
                border: 1px solid #008be9;
                p{
                    color: #008be9;
                }
            }
            .first-charge-img {
                height: 0.9rem;
                position: absolute;
                top: 0.4rem;
                left: 0.35rem;
            }
        }
        .christmas{
            display:none;
        }
    }
    &.disabled{
        li{
            border: 1px solid #bdbdbd;
            &.selected {
                border: 1px solid #bdbdbd;
                p {
                    color: #bdbdbd;
                }
            }
            p{
                color: #bdbdbd;
            }
        }
    }
}
.first-charge {
    margin-top: 1rem;
    font-size: 0.9rem;
    overflow: hidden;
    img {
        height: 1rem;
        float: left;
        display: block;
        margin-right: 0.5rem;
        margin-top: 0.08rem;
    }
    .first-charge-detail {
        color: #008be9;
        float: right;
        width: 26%;
        text-align: right;
    }
}
.count-box {
    margin-top: 1rem;
    position: relative;
    & > p {
        color: #424242;
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }
    .choose {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            width: 25%;
            list-style: none;
            float: left;
            box-sizing: border-box;
            margin-bottom: 0.7rem;
        }
        .radio {
            position: relative;
            padding-left: 1.5rem;
            cursor: pointer;
            display: block;
            color: #424242;
            input {
                position: absolute;
                left: -9999px;
                & + i{
                    & :after {
                        position: absolute;
                        content: '';
                        top: 3px;
                        left: 3px;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: #008be9;
                        opacity: 0;
                        transition: opacity 0.1s;
                        -webkit-transition: opacity 0.1s;
                    }
                }
                &:checked{
                    & + i {
                        border: 1px solid #008be9;
                        & :after {
                            opacity: 1;
                        }
                    }
                }
            }
            i {
                display: block;
                position: absolute;
                top: 3px;
                left: 0;
                width: 15px;
                height: 15px;
                outline: 0;
                border: 1px solid #bdbdbd;
                background: #ffffff;
                border-radius: 50%;
            }
        }
        span {
            vertical-align: middle;
            font-weight: bold;
        }
    }
    &.disabled{
        .choose{
            .radio{
                i{
                    border: 1px solid #bdbdbd;
                }
                input{
                    &:checked{
                        &+i{
                            border: 1px solid #bdbdbd;
                        }
                    }
                    &+i{
                        &:after {
                            background-color: #bdbdbd;
                        }
                    }
                }
            }
        }
    }
}
.pay-btn {
    background-color: #008be9;
    color: #fff;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    &.disabled {
        background-color: #bdbdbd;
    }
    .need-pay {
        margin-right: 0.5rem;
    }
}
.blank_bottom {
    height: 0.8rem;
    background: #eee;
}
.more-services {
    width: 90%;
    margin: 0 auto;
    min-height:3rem;
    color: #424242;
    & > p {
        font-weight: bold;
        position: relative;
    }
    span {
        &.all {
            font-weight: 400;
            float: right;
            margin-right: 0.9rem;
            color: #757575;
            img {
                vertical-align: middle;
                position: absolute;
                right: 0;
                top: 1px;
            }
        }
    }
    .top-up-way {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-bottom: 1rem;
        li{
            list-style: none;
            float: left;
            width: 25%;
            text-align: center;
            img {
                width: 2rem;
                height: 2rem;
            }
            p {
                margin: 0;
                padding: 0;
                font-size: 0.8rem;
            }
        }
    }
}
