.web-appearance {
    -webkit-appearance: none;
    border-radius: 0;
}
.web-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
#wrapper {
    min-height:100%;
    background:white;
    .untrim{
        padding: 0 1rem;
        position: relative;
    }
    
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
input {
    .web-appearance;
    &:focus {
        .web-highlight;
    }
}
button {
    .web-appearance;
}
p {
    &:focus {
        .web-appearance;
    }
}
div {
    &:focus {
        .web-appearance;
    }
}
.fr {
    float: right;
}

// binding
.card-input {
    padding-top: 2rem;
    .contains {
        position: relative;
    }
    input {
        &.card {
            width: 100%;
            outline-style: none;
            border: none;
            border-bottom: 2px solid #dddddd;
            font-size: 1.3rem;
            padding-bottom: 1.2rem;
            margin-bottom: 0.3rem;
            background-color: transparent;
            font-weight: bold;
            &.error {
                border-bottom: 2px solid red;
            }
        }
        &::-webkit-input-placeholder {
            font-size: 0.95rem;
            color: #bdbdbd;
            font-weight: normal;
        }
    }
    .card_state {
        font-size: 0.8rem;
        font-weight: bold;
        position: absolute;
        top: 1.7rem;
        left: 0;
        &.program-state-valid {
            color: #008be9;
        }
        &.program-state {
            color: #f00;
        }
    }
    .error-card {
        color: red;
        font-size: 0.9rem;
        display: none;
        &.showError {
            display: block;
        }
    }
    .count {
        color: #9b9b9b;
        float: right;
        font-size: 0.9rem;
    }
    .operate {
        position: absolute;
        width: 1.6rem;
        right: 0;
        top: 0;
        img {
            width: 100%;
        }
    }
    .history {
        padding: 0;
        margin: 0;
        width: 100%;
        position: absolute;
        background: white;
        z-index: 100;
        box-shadow: 0px 2px 2px #909090;
        padding-left: 0.3rem;
        top: 2.8rem;
        li {
            list-style: none;
            padding: 0.4rem 0;
            font-size: 1.1rem;
        }
    }
}
.demoDialog {
    width: 85%;
    margin: 1.5rem auto 0;
    font-size: 0.8rem;
    & > div {
        border-radius: 5px;
        padding: 1rem;
        background: #eeeeee;
        color: #424242;
        margin-bottom: 2rem;
        img {
            width: 95%;
            display: block;
            margin: 1rem auto;
            border-radius: 7px;
        }
    }
    & > p {
        width: 80%;
        margin: 0 auto;
    }
    .tips {
        margin-top: 1.5rem;
    }
}
.program-box {
    font-size: 0.9rem;
    p {
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: #424242;
    }
    span {
        &.program-name {
            font-weight: 400;
        }
    }
}
.money-box {
    margin-top: 1rem;
    position: relative;
    & > p {
        color: #424242;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }
    li {
        list-style: none;
        float: left;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        display: block;
        text-align: center;
        width: 31%;
        margin: 0 3.5% 3.5% 0;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            padding-bottom: 100%;
            width: 0.1px;
            vertical-align: middle;
        }
        &:nth-child(3n) {
            margin: 0;
        }
        p {
            margin: 0.3rem 0;
            color: #424242;
            position: absolute;
            text-align: center;
            width: 100%;
            &:nth-child(1) {
                top: 13%;
            }
            &:nth-child(2) {
                font-weight: bold;
                top: 36%;
            }
            &:nth-child(3) {
                font-size: 0.8rem;
                top: 62%;
            }
            & + p {
                span {
                    position: relative;
                    font-size: 0.7rem;
                }
            }
        }
        &.center-text {
            p {
                &:nth-child(1) {
                    top: 26%;
                }
                &:nth-child(2) {
                    font-weight: bold;
                    top: 50%;
                }
            }
        }
        &.selected {
            border: 1px solid #008be9;
            p {
                color: #008be9;
            }
        }
        .first-charge-img {
            height: 1rem;
            position: absolute;
            top: 0.4rem;
            left: 0.35rem;
        }
    }
    .christmas {
        display: none;
    }
    &.disabled {
        li {
            border: 1px solid #bdbdbd;
            &.selected {
                border: 1px solid #bdbdbd;
                p {
                    color: #bdbdbd;
                }
            }
            p {
                color: #bdbdbd;
            }
        }
    }
}
.first-charge {
    font-size: 0.9rem;
    overflow: hidden;
    img {
        height: 1rem;
        float: left;
        display: block;
        margin-right: 0.5rem;
        margin-top: 0.08rem;
    }
    .first-charge-detail {
        color: #008be9;
        float: right;
        width: 26%;
        text-align: right;
    }
}
.count-box {
    margin-top: 1rem;
    position: relative;
    & > p {
        color: #424242;
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }
    .choose {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            width: 25%;
            list-style: none;
            float: left;
            box-sizing: border-box;
            margin-bottom: 0.7rem;
        }
        .radio {
            position: relative;
            padding-left: 1.5rem;
            cursor: pointer;
            display: block;
            color: #424242;
            input {
                position: absolute;
                left: -9999px;
                & + i {
                    & :after {
                        position: absolute;
                        content: '';
                        top: 3px;
                        left: 3px;
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background-color: #008be9;
                        opacity: 0;
                        transition: opacity 0.1s;
                        -webkit-transition: opacity 0.1s;
                    }
                }
                &:checked {
                    & + i {
                        border: 1px solid #008be9;
                        & :after {
                            opacity: 1;
                        }
                    }
                }
            }
            i {
                display: block;
                position: absolute;
                top: 3px;
                left: 0;
                width: 15px;
                height: 15px;
                outline: 0;
                border: 1px solid #bdbdbd;
                background: #ffffff;
                border-radius: 50%;
            }
        }
        span {
            vertical-align: middle;
            font-weight: bold;
        }
    }
    &.disabled {
        .choose {
            .radio {
                i {
                    border: 1px solid #bdbdbd;
                }
                input {
                    &:checked {
                        & + i {
                            border: 1px solid #bdbdbd;
                        }
                    }
                    & + i {
                        &:after {
                            background-color: #bdbdbd;
                        }
                    }
                }
            }
        }
    }
}
.pay-btn {
    background-color: #008be9;
    color: #fff;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    &.disabled {
        background-color: #bdbdbd;
    }
    .need-pay {
        margin-right: 0.5rem;
    }
}
.blank_bottom {
    height: 0.8rem;
    background: #eee;
}
.more-services {
    min-height: 3rem;
    color: #424242;
    & > p {
        font-weight: bold;
        position: relative;
        margin-top:1rem;
    }
    span {
        &.all {
            font-weight: 400;
            float: right;
            margin-right: 0.9rem;
            color: #757575;
            img {
                vertical-align: middle;
                position: absolute;
                right: 0;
                top: 1px;
            }
        }
    }
}

//order
.gap {
    width: 100%;
    height: 0.5rem;
    background: #eee;
}
.card-box {
    width: 95%;
    margin: 0.4rem auto 0.6rem;
    color: #424242;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    .card-msg {
        background: url('~assets/img/dvb/cardbg.jpg') no-repeat;
        background-size: 101% 100%;
        padding: 0.5rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        p {
            margin: 0.4rem;
            color: #fff;
            font-size: 1.3rem;
            font-weight: bold;
            span {
                font-size: 1.2rem;
                font-weight: normal;
            }
            &.state {
                font-size: 0.875rem;
                img {
                    width: 1rem;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .card-type {
        height: 2.5rem;
        line-height: 2.5rem;
        background: white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #424242;
        font-size: 0.875rem;
        p {
            &.platform {
                margin: 0;
                padding-left: 0.5rem;
                img {
                    width: 1.5rem;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
.order-msg {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;
    & > div {
        margin: 0.5rem 0;
        .declare {
            color: #333333;
            font-weight: bold;
        }
        .no-time {
            color: #bdbdbd;
        }
    }
    .line {
        height: 1px;
        border: none;
        background-color: #e0e0e0;
        width: 100%;
    }
    .total {
        font-size: 1.15rem;
        font-weight: bold;
    }
}
.pay-methods {
    width: 90%;
    margin: 0 auto;
    .choose {
        li {
            list-style: none;
            box-sizing: border-box;
            margin-bottom: 0.7rem;
            width: 100%;
            position: relative;
            .radio {
                position: relative;
                padding-left: 1.5rem;
                cursor: pointer;
                display: block;
                color: #424242;
                input {
                    position: absolute;
                    left: -9999px;
                    & + i {
                        &:after {
                            position: absolute;
                            content: '';
                            top: 2px;
                            left: 2px;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background-color: #008be9;
                            opacity: 0;
                            transition: opacity 0.1s;
                            -webkit-transition: opacity 0.1s;
                        }
                    }
                    &:checked {
                        & + i {
                            border: 1px solid #008be9;
                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
                i {
                    display: block;
                    position: absolute;
                    top: 1px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    outline: 0;
                    border: 1px solid #bdbdbd;
                    background: #ffffff;
                    border-radius: 50%;
                }
            }
            .recharge {
                color: #008be9;
                font-weight: bold;
                font-size: 0.95rem;
                position: absolute;
                top: 0.5rem;
                right: 0;
            }
        }
        span {
            vertical-align: middle;
            font-weight: bold;
            &.balance {
                font-size: 0.75rem;
                &.red {
                    color: red;
                }
            }
        }
    }
    .methods {
        padding-bottom: 5.5rem;
        & > p {
            font-weight: bold;
            margin: 0.6rem 0;
        }
    }
    .note {
        font-size: 0.85rem;
        color: #666666;
        line-height: 1.1rem;
        background: #fff;
        word-break: break-all;
        p {
            margin: 0;
            padding: 0;
        }
    }
}
.btn-box {
    width: 90%;
    bottom: 0;
    position: fixed;
    left: 5%;
    padding: 0.5rem 0;
    border-top: 1px solid #e0e0e0;
    line-height: 2.3rem;
    background: #fff;
    .pay-btn {
        margin-bottom: 0;
        width: 7rem;
        float: right;
        margin-top: 0;
    }
    .total {
        font-size: 1.15rem;
        font-weight: bold;
    }
}
