.page-enter {
    transform: translateX(100%);
}
.page-enter-active {
    animation: bounce-in 0.3s;
}
.page-leave {
    animation: bounce-out 0.3s;
}
@keyframes bounce-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bounce-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
